.point {
	position: absolute;
	width: 5px;
	height: 5px;
	background: red;
	z-index: 5;
	border-radius: 50%;
}

.point:hover {
	background: pink;
}

#menu {
	border: 1px solid #eee;
	font-family: 'Arial', sans-serif;
	padding: 5px;
	position: absolute;
	width: 100px;
	display: none;
}

.menu-option {
	padding: 5px;
}

.menu-option + .menu-option {
	border-top: 1px solid #eee;
}

.menu-option:hover {
	background: #eee;
	cursor: pointer;
}
